@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  overflow-x: hidden;
}
.header {
  background-color: rgba(48, 50, 47, 0.35);
  padding-bottom: 20px;
}
.logo {
  margin-top: 10px;
  padding-left: 20px;
  min-width: 150px;
  width: 100%;
  max-width: 200px;
}

.searchBox {
  width: 350px;
}
.menu {
  margin-top: 20px;
  justify-content: end;
}
.menu a {
  color: black;
}
.menu a:hover {
  color: rgba(28, 29, 28, 0.35);
}
.borderRight {
  border-right: 2px solid black;
}
.buttonSearch {
  justify-self: end;
}
.bg-1 {
  background-color: black;
}
.title {
  padding: 20px 0px;
  text-align: center;
  color: #ffffff;
}
.imgCarousel {
  padding: 10px 10px 50px 20px;
  max-width: 100%;
  max-height: 500px;
}
.textDescription {
  color: #fff;
}
.nameMovie {
  text-align: center;
}
.last {
  padding-bottom: 40px;
}
.lancamento {
  padding-right: 40px;
}
.btnAlign {
  text-align: center;
  padding-bottom: 40px;
}
.idLanca {
  display: none;
}
.bg-2 {
  background-color: rgba(48, 50, 47, 0.35);
}
.destaque {
  padding: 20px 20px 20px 10px;
}
.dropdown {
  text-align: right;
  padding: 20px 0px 20px 20px;
}
.btnRow {
  justify-content: end;
  padding: 20px 10px 20px 20px;
}

.btnLoadMoreCards {
  max-width: 200px;
}
.moreCards {
  display: none;
}
.cards2 {
  padding: 20px 10px 20px 25px;
}
.btnLoadMoreAvaliation {
  max-width: 250px;
}
.avaliacoes {
  padding: 0px 20px 20px 10px;
}
.posterTopRated {
  width: 100%;
  padding-bottom: 20px;
}
.topStarDate {
  justify-content: space-between;
}
.titleEntrevista {
  color: #fff;
  padding: 20px;
}
.video1 {
  min-height: 200px;
  min-width: 100%;
}
.movieName {
  font-size: 2rem;
  padding-left: 5px;
  color: #fff;
}
.movieInfos {
  color: #fff;
  padding-left: 5px;
}
.spacing {
  padding-left: 10px;
}
.novidades {
  padding: 40px 40px 40px 0px;
}
.fotoNoticia {
  max-width: 100%;
  min-height: 100%;
  padding-bottom: 10px;
}
.news {
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}
.newsText {
  max-width: 100%;
  padding: 0px 20px;
  font-family: 'Roboto', sans-serif;
}

.tags {
  padding: 0px 10px;
  background-color: rgb(52, 53, 138);
  border: 1px solid rgb(102, 48, 120);
  border-radius: 50px;
  color: #fff;
}
.btnSeries {
  text-align: center;
  padding-top: 40px;
}
.separacao {
  padding: 0px 20px;
}
.sobre {
  padding: 40px 0px 40px 0px;
}
.textSobre {
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
}
.editorial {
  padding-top: 30px;
}
.diretores {
  font-size: 1.5rem;
}
.fa-brands {
  font-size: 4rem;
  padding: 20px;
  color: #3b167b;
}
.Copyright {
  color: #fff;
  padding-top: 30px;
}
.logoBottom {
  max-width: 100px;
}
/*menu mobile*/
#menuToggle {
  display: none;
}
.menu-toggle {
  display: none;
}
@media screen and (max-width: 900px) {
  .separacao {
    text-align: center;
  }
  .redes {
    text-align: center;
  }
  .searchBox {
    max-width: 100px;
  }
  .borderRight {
    border-right: 0px solid #fff;
  }
}
.telaCarrega {
  animation: isRotating 1s infinite;
  width: 50px;
  height: 50px;
  border: 5px solid #e5e5e5;
  border-top-color: #1bb21b;
  border-radius: 50%;
  margin: 300px auto;
}
@keyframes isRotating {
  to {
    transform: rotate(1turn);
  }
}
