@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
.borderBottom {
  padding-bottom: 20px;
  border-bottom: 2px solid #1bf05b;
}
.logo {
  max-width: 500px;
  width: 100%;
}
.divImg {
  text-align: center;
  padding-bottom: 50px;
}
.imgMovie {
  max-width: 100%;
}
.movieTitle {
  text-align: center;
  font-size: 3rem;
}
.movieSinopse {
  font-size: 1.5rem;
}
.genre {
  text-align: center;
}
.genero {
  padding: 5px 10px;
  background-color: rgb(49, 161, 139);
  border: 0px solid yellow;
  border-radius: 50px;
}
.lancamento {
  justify-content: space-around;
  color: #371071;
}
.star {
  font-size: 3rem;
  text-align: center;
}
.empresas {
  text-align: center;
}
.empresas1 {
  font-weight: bold;
}
.cards {
  max-width: 100%;
}
.knowMore {
  padding: 10px 0px;
  justify-content: space-between;
}
.bg2 {
  background: black;
  color: white;
  text-align: center;
}

.telaCarrega {
  animation: isRotating 1s infinite;
  width: 50px;
  height: 50px;
  border: 5px solid #e5e5e5;
  border-top-color: #1bb21b;
  border-radius: 50%;
  margin: 40px auto;
}
.telaCarrega2 {
  animation: isRotating 1s infinite;
  width: 50px;
  height: 50px;
  border: 5px solid #e5e5e5;
  border-top-color: #1870da;
  border-radius: 50%;
  margin: 40px auto;
}

@keyframes isRotating {
  to {
    transform: rotate(1turn);
  }
}
